# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.DS_Store
backend/data.json

# Frontend
node_modules/
.vite/
dist/
.env
.env.local
.env.*.local
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.DS_Store